In [1]:
print("Hello World")

Hello World

In [2]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [1]:
import yfinance as yf

In [8]:
Apple = yf.download('TSLA',start="2019-01-01",end="2019-12-31")

[*********************100%***********************]  1 of 1 completed

In [9]:
Apple.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2018-12-31  67.557999  67.842003  65.052002  66.559998  66.559998  31511500
2019-01-02  61.220001  63.026001  59.759998  62.023998  62.023998  58293000
2019-01-03  61.400002  61.880001  59.476002  60.071999  60.071999  34826000
2019-01-04  61.200001  63.599998  60.546001  63.537998  63.537998  36970500
2019-01-07  64.344002  67.348000  63.549999  66.991997  66.991997  37756000

In [10]:
Apple_df = yf.download('TSLA')

[*********************100%***********************]  1 of 1 completed

In [11]:
Apple_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2648 entries, 2010-06-29 to 2021-01-04
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       2648 non-null   float64
 1   High       2648 non-null   float64
 2   Low        2648 non-null   float64
 3   Close      2648 non-null   float64
 4   Adj Close  2648 non-null   float64
 5   Volume     2648 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 144.8 KB