In [19]:
import pandas as pd
import numpy as np
import yfinance as yf

In [20]:
pfizer=yf.Ticker("PFE")

In [21]:
df_pfizer=pfizer.history(start="2019-01-02", end="2020-01-02")
df_pfizer.dropna(inplace=True)
pfizer.history(start="2019-01-02", end="2020-01-02")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2019-01-02,37.898083,38.232064,37.476210,38.012341,26430300,0.0,0
2019-01-03,38.003556,38.091445,36.869775,36.948875,28503500,0.0,0
2019-01-04,37.300441,38.100237,37.142237,37.792622,27145300,0.0,0
2019-01-07,37.854143,38.337539,37.669574,37.994766,20995500,0.0,0
2019-01-08,38.284805,38.407851,37.924455,38.170547,19677200,0.0,0
...,...,...,...,...,...,...,...
2019-12-24,35.850504,35.950771,35.732004,35.814041,5187700,0.0,0
2019-12-26,35.823154,36.069269,35.732002,35.896080,9384100,0.0,0
2019-12-27,35.941655,36.114848,35.777581,35.841389,10117700,0.0,0
2019-12-30,35.823151,35.932536,35.449426,35.467655,11554300,0.0,0
2019-12-31,35.358276,35.732001,35.285354,35.713772,15175700,0.0,0

In [ ]:
df_pfizer

In [28]:
df_pfizer['Prediction']=df_pfizer['Close']
df_pfizer

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Prediction
Date,,,,,,,,
2019-01-02,37.898083,38.232064,37.476210,38.012341,26430300,0.0,0,38.012341
2019-01-03,38.003556,38.091445,36.869775,36.948875,28503500,0.0,0,36.948875
2019-01-04,37.300441,38.100237,37.142237,37.792622,27145300,0.0,0,37.792622
2019-01-07,37.854143,38.337539,37.669574,37.994766,20995500,0.0,0,37.994766
2019-01-08,38.284805,38.407851,37.924455,38.170547,19677200,0.0,0,38.170547
...,...,...,...,...,...,...,...,...
2019-12-23,35.932541,36.023692,35.668196,35.841389,17454300,0.0,0,35.841389
2019-12-24,35.850504,35.950771,35.732004,35.814041,5187700,0.0,0,35.814041
2019-12-26,35.823154,36.069269,35.732002,35.896080,9384100,0.0,0,35.896080
2019-12-27,35.941655,36.114848,35.777581,35.841389,10117700,0.0,0,35.841389
2019-12-30,35.823151,35.932536,35.449426,35.467655,11554300,0.0,0,35.467655

In [23]:
df_pfizer.dropna(inplace=True)
df_pfizer

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Prediction
Date,,,,,,,,
2019-01-02,37.898083,38.232064,37.476210,38.012341,26430300,0.0,0,36.948875
2019-01-03,38.003556,38.091445,36.869775,36.948875,28503500,0.0,0,37.792622
2019-01-04,37.300441,38.100237,37.142237,37.792622,27145300,0.0,0,37.994766
2019-01-07,37.854143,38.337539,37.669574,37.994766,20995500,0.0,0,38.170547
2019-01-08,38.284805,38.407851,37.924455,38.170547,19677200,0.0,0,38.091450
...,...,...,...,...,...,...,...,...
2019-12-23,35.932541,36.023692,35.668196,35.841389,17454300,0.0,0,35.814041
2019-12-24,35.850504,35.950771,35.732004,35.814041,5187700,0.0,0,35.896080
2019-12-26,35.823154,36.069269,35.732002,35.896080,9384100,0.0,0,35.841389
2019-12-27,35.941655,36.114848,35.777581,35.841389,10117700,0.0,0,35.467655
2019-12-30,35.823151,35.932536,35.449426,35.467655,11554300,0.0,0,35.713772

In [29]:
X = np.array(df_pfizer.drop(['Prediction'], axis=1))
y = np.array(df_pfizer['Prediction'])

In [30]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=42069)

In [31]:
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
pipeline_lr=make_pipeline(StandardScaler(),RandomForestRegressor(n_estimators=100))

In [ ]:
from sklearn.model_selection import GridSearchCV
hyperparameters = { 'randomforestregressor__max_features' : ['auto', 'sqrt', 'log2'],'randomforestregressor__max_depth': [None, 5, 3, 1]}
clf_lr=GridSearchCV(pipeline_lr,cv=10,param_grid=hyperparameters)

In [32]:
clf_lr.fit(X_train,y_train)
clf_lr.best_score_   #displays the score of model

0.9960096794776373

In [ ]:
#clf_lr is now a valid model